
.excel-sheet-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid #ccc;
  padding: 0;
}

input {
  width: 100px;
  height: 25px;
  border: none;
  padding: 5px;
  box-sizing: border-box;
}

input:focus {
  outline: 2px solid #1E90FF;
  border: none;
}

.changed {
  background-color: #FFFFE0; /* light yellow */
}

.info-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.changed-cells, .history {
  width: 45%;
  border: 1px solid #ccc;
  padding: 10px;
}


/* fonten meaode */
