
.excel-sheet-container {
  display: flex;
}

.main-content {
  transition: margin-right 0.3s ease;
  width: 100%;
}

.main-content.sidebar-visible {
  margin-right: 250px; /* Same as sidebar width */
}

.history-sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  right: -250px; /* Hidden by default */
  height: 100%;
  background-color: #f4f4f4;
  padding: 20px;
  transition: right 0.3s ease;
  border-left: 1px solid #ccc;
}

.history-sidebar.visible {
  right: 0;
}

.toggle-history-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

.history-sidebar h3 {
  margin-top: 0;
}

.history-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.history-sidebar li {
  margin-bottom: 10px;
}

.history-sidebar a {
  text-decoration: none;
  color: #1E90FF;
}

.history-sidebar a:hover {
  text-decoration: underline;
}

table {
  border-collapse: collapse;
}

td {
  border: 1px solid #ccc;
  padding: 0;
}

input {
  width: 100px;
  height: 25px;
  border: none;
  padding: 5px;
  box-sizing: border-box;
}

input:focus {
  outline: 2px solid #1E90FF;
  border: none;
}

.changed {
  background-color: #FFFFE0; /* light yellow */
}

.info-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.changed-cells, .history {
  width: 45%;
  border: 1px solid #ccc;
  padding: 10px;
}


/* fonten meaode */
